# Node Modules
/node_modules

./rtc-video-room-cert.pem

./rtc-video-room-key.pem

./vscode

# Mac stuff
.DS_Store

# Environment variables
.env
.env_server

# Logs
nohup.out

# Misc
package-lock.json
