body,
input,
button {
  font-size: 1.6vw;
  margin: 0;
  font-family: Sans-Serif;
  background-color: black;
}
@media (max-width: 1024px) {
  body,
  input,
  button {
    font-size: 1em;
  }
}
input:focus,
button:focus {
  outline: 0;
}
input[type="text"] {
  border: none;
  border-bottom: solid 2px #4c4c4f;
  font-size: 1em;
  background-color: transparent;
  color: #fff;
  padding: 0.4em 0;
  margin: 2ex 0;
  width: 100%;
  max-width: 18em;
  display: block;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-inline: 10px;
}

.sv_main {
  font-size: 15px;
  background-color: black;
}
.sv_body {
  background-color: black;
}
.sv_main .sv_container .sv_body {
  padding: 1em 1em 1.6428em 1em;
  background-color: black;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_page_title {
  font-size: 0;
  background-color: black;
}
.sv_main.sv_default_css .sv_p_root > .sv_row:nth-child(2n) {
  background-color: black;
  border: black;
}
.sv_main.sv_default_css .sv_p_root > .sv_row:nth-child(2n + 1) {
  background-color: black;
  border: black;
}

.sv_p_root {
  background-color: black;
}
.sv_custom_header {
  background-color: black;
}
.sv_row {
  font-size: 1.5em;
  background-color: black;
  color: white;
  border-color: black;
}
.sv_nav {
  padding: 1em 0;
  min-height: 2em;
  background-color: black;
}
.sv_main input[type="button"],
.sv_main button {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-size: 20px;
}

.checkboxtext {
  /* Checkbox text */
  margin-left: 10px;
  font-size: 20px;
  display: inline;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-exit-button,
.hangup-button,
.audio-button-true,
.audio-button-false,
.video-button-true,
.video-button-false,
.fullscreen-button {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: rgba(44, 44, 44, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: 0.2ex 0.2ex 1.5em #444;
  transition: all 0.2s ease-out;
  margin: 0 0.4em;
  cursor: pointer;
}
.call-exit-button:hover,
.hangup-button:hover,
.audio-button-true:hover,
.audio-button-false:hover,
.video-button-true:hover,
.video-button-false:hover,
.fullscreen-button:hover {
  box-shadow: 0.4ex 0.4ex 3em #666;
  background: rgba(64, 124, 247, 1);
}
.you-left,
.remote-left,
.hangup-button,
.audio-button-true .on,
.video-button-true .on,
.video-button-false .off,
.fullscreen-button .on,
.room-occupied {
  display: none;
}
:-webkit-full-screen .fullscreen-button .on {
  display: block;
}
:-moz-full-screen .fullscreen-button .on {
  display: block;
}
:-ms-fullscreen .fullscreen-button .on {
  display: block;
}
:fullscreen .fullscreen-button .on {
  /* spec */
  display: block;
}
:-webkit-full-screen .fullscreen-button .off {
  display: none;
}
:-moz-full-screen .fullscreen-button .off {
  display: none;
}
:-ms-fullscreen .fullscreen-button .off {
  display: none;
}
:fullscreen .fullscreen-button .off {
  /* spec */
  display: none;
}
/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
.guest-hangup + .auth .you-left {
  display: inline;
}
.full .room-occupied,
.host-hangup + .auth .remote-left,
.recent-room {
  display: block;
}
.recent-room {
  color: #4285f4;
  margin: 1ex 1em;
}
.remote-video {
  display: block;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.local-video {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.established .local-video {
  margin: 10px;
  max-height: 17%;
  max-width: 17%;
  height: auto;
  width: auto;
  z-index: 20;
}
.canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  /* background-color: transparent; */
}
.consent_form {
  z-index: 20;
  text-align: left;
  background-color: black;
  margin: auto;
  font-size: 20px;
}
.survey_topic {
  overflow: scroll;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  text-align: center;
  background-color: black;
  margin: auto;
}

.survey_topic_container {
  width: 50%;
  margin: 0 auto;
}
.survey_diable_checkbox {
  text-align: left;
  margin: 10px;
  color: grey;
}
.survey_checkbox {
  text-align: left;
  margin: 10px;
}
.survey_ready_button {
  background-color: white;
  color: black;
  width: 100%;
}
.survey_topic_head {
  color: white;
  font-size: 40px;
  margin: 0 auto;
  font-weight: bold;
  padding: 50px;
}
.survey_topic_text {
  color: white;
  font-size: 20px;
  margin: 0 auto;
  font-weight: bold;
}
.topic {
  position: absolute;
  height: 60%;
  width: 70%;
  z-index: 20;
  text-align: center;
  right: 15%;
  background-color: black;
  border-radius: 50px;
  padding: 30px;
  margin: auto;
  top: 0;
  bottom: 0;
}
.topic_head {
  color: white;
  font-size: 40px;
  margin: 0 auto;
  font-weight: bold;
  padding: 100px;
}
.topic_text {
  color: white;
  font-size: 20px;
  margin: 0 auto;
  font-weight: bold;
}
.chatblock {
  position: absolute;
  height: 40%;
  width: 20%;
  z-index: 20;

  top: 50%;
  left: 15px;
  text-align: left;
}
.clock {
  position: absolute;
  z-index: 10;
  margin: 10px;
  top: 18%;
  font-size: 2em;
  width: 17%;
  color: black;
  text-align: center;
  background-color: white;
}
.sidebar_container {
  width: 17%;
  position: absolute;
  z-index: 10;
  height: 69%;
  top: 30%;
  margin: 10px;
  text-align: center;
  border-color: white;
  border-style: solid;
  background-color: black;
}
.sidebar_foot {
  position: absolute;
  bottom: 10%;
  margin: 0 auto;
  width: 100%;
}
.sidebar_prompt {
  margin: 10px;
  position: absolute;
  top: 20%;
}
.media-bridge,
.local-video,
.remote-video {
  position: absolute;
  height: 100%;
  width: 100%;
}
.auth {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.toolBar {
  z-index: 99;
  position: absolute;
}
.sv_window {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 25%;
}
.primary-button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #4285f4;
  border: none;
  color: white;
  font-size: 0.8em;
  margin: 0 5px 20px 5px;
  width: 8em;
  line-height: 3ex;
  padding: 1ex 0.7em;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.media-controls {
  display: flex;
  margin: 2ex 0;
  justify-content: center;
  left: 0;
  right: 0;
}
.svg {
  width: 1.4em;
}
.room-occupied,
.request-access,
.waiting,
.request-access,
.grant-access,
.waiting {
  overflow: hidden;
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  transition: max-height 0.3s ease;
}
.full + .auth .room-occupied,
.guest-hangup + .auth .request-access,
.join + .auth .request-access,
.approve + .auth .grant-access {
  transition-delay: 0.3s;
  /* Set the max-height to something large. In this case there's an obvious limit. */
  max-height: 20ex;
}
.host-hangup + .auth .waiting,
.create + .auth .waiting {
  /* Set the max-height to something large. In this case there's an obvious limit. */
  max-height: 20ex;
}
.established + .auth .hangup-button {
  display: flex;
}
/* Switch component */
.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 30px;
}
