.gy-modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: -1;
}
.gy-modalContainer .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.gy-modalContainer .innerContent {
  position: absolute;
  left: 50%;
  top: 80%;
  width: 600px;
  height: 200px;
  background-color: #1ab394;
  height: auto;
  z-index: 3;
  background-color: #ffffff;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: 75.5px 221.5px 0px;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.gy-modalContainer .innerContent .innerContent-header {
  padding: inherit;
  border-radius: 4px 4px 0 0;
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #e9e9e9;
}
.gy-modalContainer .innerContent .innerContent-title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
.gy-modalContainer .innerContent .innerContent-center {
  padding: 16px;
  font-size: 12px;
  line-height: 1.5;
  color: "white";
}
.gy-modalContainer .innerContent .innerContent-footer {
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px 10px 10px;
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
